:root {
  --background-color-pink: #f5dee6;
  --background-color-blue: #e4e9fc;
  --color-lightpink: #fccece;
  --color-lightblue: #cde1e8;
  --color-pink: #f56990;
  --color-blue: #7596c3;
}

body {
  font-family: "Comic Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
h1,
h2,
p {
  margin: 0;
  padding: 0;
}
.container {
  padding-top: 10px;
  background-color: var(--background-color-pink);
  width: 100vw;
  height: 100vh;
}
.main-header {
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 700;
}
.main-text {
  max-width: 70vw;
  margin: 0 auto 10px auto;
}
.main-text.question {
  font-weight: 700;
}
.main-img,
.results-img {
  margin-bottom: 10px;
  border-radius: 10px;
}
.button {
  padding: 5px;
  background-color: var(--color-pink);
  border: 1px solid transparent;
  border-radius: 6px;
}
.question {
  padding: 10px;
}
.question-text {
  margin-bottom: 10px;
}
.question-img {
  display: block;
  margin: 0 auto 20px auto;
}
.answers-area {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-bottom: 20px;
}
.answer {
  display: flex;
  gap: 10px;
  align-items: center;
}
.answers-label {
  font-weight: 700;
}
.button.next {
  width: 70px;
}
#question1,
#question2,
#question3,
#question4,
#question5,
#question6,
#question7,
#question8,
#question9,
#question10,
#results {
  display: none;
}
#results {
  background-color: var(--background-color-blue);
}
.button.restart {
  background-color: var(--color-blue);
}
